@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&family=Pacifico&display=swap');

$primary-color: #115e00;
$secondary-color: #ff0080;

$dark-color: #111111;
$light-color: #ffffff;
$success-color: #00a0ff;
$danger-color: #ff0080;
$warning-color: #ffd800;

$primary-font: 'Merriweather Sans', sans-serif;
$secondary-font: 'Pacifico', cursive;
